<app-navbar></app-navbar>

<div class="">
  <h3
    class="text-3xl w-8/12 text-center mx-auto my-8 font-bold tracking-wide text-gray-800"
  >
    I'm currently looking for a job. If my profile has piqued your interest. I
    would like to meet u.
  </h3>

  <table
    class="table-auto mx-auto border-separate shadow-md border-2 bg-gray-100 rounded-md hover:shadow-sm ease-in"
    style="border-spacing: 1rem"
  >
    <thead>
      <th></th>
      <th></th>
    </thead>
    <tbody>
      <tr>
        <td>Mailing Address</td>
        <td class="">
          <a
            href="mailto:gokulcode234@gmail.com"
            class="text-green-500 underline hover:text-green-400"
            >gokulcode234@gmail.com</a
          >
        </td>
      </tr>

      <tr>
        <td class="">Github Profile</td>
        <td>
          <a
            href="https://github.com/gokul-sakthi"
            target="_blank"
            rel="norefferer noopener"
            class="text-green-500 underline hover:text-green-400"
            >gokul-sakthi</a
          >
        </td>
      </tr>

      <tr>
        <td
          colspan="2"
          col
          class="text-center py-4 font-bold tracking-wide text-lg text-gray-700"
        >
          Other Projects
        </td>
      </tr>
      <tr>
        <td class="">Utilita</td>
        <td>
          <a
            href="https://utilita.web.app/"
            target="_blank"
            rel="norefferer noopener"
            class="text-green-500 underline hover:text-green-400"
            >Personal Utility Website</a
          >
        </td>
      </tr>
      <tr>
        <td class="">Ecommerce ( Backend )</td>
        <td>
          <a
            href="https://www.fabrae.com"
            target="_blank"
            rel="norefferer noopener"
            class="text-green-500 underline hover:text-green-400"
            >Backend for the website( Express )</a
          >
        </td>
      </tr>
      <tr>
        <td class="">Blog ( EJS )</td>
        <td>
          <a
            href="https://fierce-eyrie-03439.herokuapp.com/"
            target="_blank"
            rel="norefferer noopener"
            class="text-green-500 underline hover:text-green-400"
            >A Blog for testing my nodejs skills</a
          >
        </td>
      </tr>
      <tr>
        <td class="">Api Integration Project</td>
        <td>
          <a
            href="https://desolate-island-55420.herokuapp.com/"
            target="_blank"
            rel="norefferer noopener"
            class="text-green-500 underline hover:text-green-400"
            >MailChimp APi for Newsletter</a
          >
        </td>
      </tr>
    </tbody>
  </table>
</div>
