<div class="w-full h-screen bg-gray-50 relative">
  <!-- modal -->
  <div
    [ngClass]="{ hidden: !modalStatus }"
    (click)="changeModalStatus(false)"
    class="inset-0 absolute bg-gray-900 opacity-80 z-0"
  ></div>
  <div
    [ngClass]="{ hidden: !modalStatus }"
    class="border-2 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 py-4 px-8 rounded-lg border-gray-400 z-10 bg-green-100 max-w-md mx-auto block"
  >
    <p>Are you sure you want to proceed</p>
    <div class="mt-8 mb-3 flex">
      <button
        class="px-7 py-3 flex-1 border-2 bg-green-500 shadow-md border-green-500 text-gray-50 font-bold tracking-wider rounded-lg hover:bg-green-300 hover:border-green-300 mr-3"
        (click)="confirmBuyOrder()"
      >
        Yes
      </button>
      <button
        class="px-7 py-3 flex-1 border-2 bg-red-500 shadow-md border-red-500 text-gray-50 font-bold tracking-wider rounded-lg hover:bg-red-300 hover:border-red-300 mr-3"
        (click)="changeModalStatus(false)"
      >
        No
      </button>
    </div>
  </div>

  <!-- Modal end -->

  <div class="flex justify-between">
    <a
      class="material-icons-outlined border-2 text-2xl px-7 bg-green-300 py-1 rounded-full hover:bg-green-200 focus:bg-green-500 focus:text-gray-100 cursor-pointer m-5"
      (click)="goBack()"
    >
      keyboard_backspace
    </a>
    <div class="">
      <a
        class="material-icons-outlined border-2 text-2xl px-7 bg-green-300 hover:bg-green-200 focus:bg-green-500 focus:text-gray-100 cursor-pointer py-1 rounded-full m-5"
        routerLink="/"
      >
        home
      </a>
    </div>
  </div>

  <!-- grid start -->
  <!-- <p>{{ productItem | json }}</p> -->
  <div class="grid grid-cols-12 w-11/12 my-12 mx-auto">
    <div class="col-span-7 mx-8">
      <div class="mx-5">
        <div
          class="h-96 rounded-2xl shadow-lg border-2 bg-gray-100 border-gray-200"
        >
          <img
            src="{{ selectedImage }}"
            class="h-full object-contain object-center w-full rounded-lg"
            alt=""
            srcset=""
          />
        </div>
        <div class="h-14 my-5 flex justify-center space-x-7">
          <button
            class="w-12 h-12 shadow-md rounded-lg hover:border-green-300 focus:ring-2 focus:ring-offset-2 focus:ring-green-600"
            *ngFor="let item of productItem.images"
          >
            <!-- <p>{{ item | json }}</p> -->
            <img
              class="w-full h-full rounded-lg"
              src="{{ item.secure_url }}"
              alt=""
              srcset=""
              (click)="selectedImage = item.secure_url"
            />
            <!-- <a
              target="_blank"
              [href]="baseApiURL + '/products/' + item.filename"
              >{{ baseApiURL + "/products/" + item.filename }}</a
            > -->
          </button>
        </div>
      </div>
    </div>
    <div class="col-span-5 px-4">
      <!-- <p>{{ productItem | json }}</p> -->
      <div class="py-2">
        <h1 class="text-gray-700 text-4xl tracking-wide mb-3 font-bold">
          {{ productItem.name }}
        </h1>
        <h3 class="text-gray-600 text-lg mb-3">
          Price :
          <span class="text-xl font-semibold text-green-500 mx-1">$345</span>
          <span class="text-xs mx-1 line-through font-semibold text-gray-400"
            >$400</span
          >
        </h3>
        <p class="text-gray-700 mb-4 text-md">
          {{ productItem.description }}
        </p>
      </div>
      <div class="">
        <p class="text-sm mb-2 font-medium text-gray-700">
          Category : <span>{{ productItem.category }}</span>
        </p>
        <p class="text-sm mb-5 font-medium text-gray-700">
          Sub-Category : <span>{{ productItem.subCategory }}</span>
        </p>
      </div>

      <p
        class="my-4 tracking-widest font-semibold text-red-600"
        *ngIf="productItem.stocks < 1"
      >
        Out of Stock
      </p>

      <div class="space-x-2 my-2">
        <button
          (click)="changeModalStatus(true)"
          class="py-4 font-semibold px-8 text-lg text-gray-100 bg-green-500 shadow-md hover:bg-green-400 focus:ring-2 focus:ring-offset-2 focus:ring-green-400 focus:bg-green-400 rounded-lg"
          [ngClass]="productItem.stocks > 1 ? '' : 'hidden'"
        >
          Buy now
        </button>
        <!-- ....... -->
        <button
          class="py-4 font-semibold px-8 text-lg text-gray-100 bg-red-500 hover:bg-red-400 focus:ring-2 focus:ring-offset-2 focus:ring-red-400 focus:bg-red-400 rounded-lg shadow-md"
          (click)="updateWishList()"
        >
          {{ isWishListed ? "Wishlisted" : "to Wishlist" }}
        </button>
        <!-- ....... -->
        <button
          class="py-4 font-semibold px-8 text-lg text-gray-800 bg-gray-200 hover:bg-gray-300 hover:text-gray-800 focus:bg-gray-600 focus:text-gray-50 rounded-lg shadow-md"
          (click)="addToCart()"
        >
          Add to Cart
        </button>

        <!-- ......... -->
      </div>
    </div>
  </div>
</div>
