<ul
  *ngIf="pager.pages && pager.pages.length"
  class="flex py-5 px-10 place-content-center"
>
  <li [ngClass]="{ disabled: pager.currentPage === 1 }" class="">
    <a
      (click)="setPage(1)"
      class="
        bg-green-400
        px-5
        text-gray-50
        py-2
        rounded-md
        mr-1
        text-sm
        cursor-pointer
        focus:bg-green-500
        hover:bg-green-300
      "
      >First</a
    >
  </li>
  <li [ngClass]="{ disabled: pager.currentPage === 1 }" class="">
    <a
      (click)="setPage(pager.currentPage - 1)"
      class="
        bg-green-400
        px-5
        text-gray-50
        py-2
        rounded-md
        mr-1
        text-sm
        cursor-pointer
        focus:bg-green-500
        hover:bg-green-300
      "
      >Previous</a
    >
  </li>
  <li
    *ngFor="let page of pager.pages"
    [ngClass]="{ active: pager.currentPage === page }"
    class=""
  >
    <a
      (click)="setPage(page)"
      class="
        bg-green-400
        px-5
        text-gray-50
        py-2
        rounded-md
        mr-1
        text-sm
        cursor-pointer
        focus:bg-green-500
        hover:bg-green-300
      "
      >{{ page }}</a
    >
  </li>
  <li [ngClass]="{ disabled: pager.currentPage === pager.totalPages }" class="">
    <a
      (click)="setPage(pager.currentPage + 1)"
      class="
        bg-green-400
        px-5
        text-gray-50
        py-2
        rounded-md
        mr-1
        text-sm
        cursor-pointer
        focus:bg-green-500
        hover:bg-green-300
      "
      >Next</a
    >
  </li>
  <li [ngClass]="{ disabled: pager.currentPage === pager.totalPages }" class="">
    <a
      (click)="setPage(pager.totalPages)"
      class="
        bg-green-400
        px-5
        text-gray-50
        py-2
        rounded-md
        text-sm
        cursor-pointer
        focus:bg-green-500
        hover:bg-green-300
      "
      >Last</a
    >
  </li>
</ul>
